<div class="d-flex justify-content-between">
  <span class="font-weight-bold">Add Pin</span>
  <mat-icon (click)="dialogRef.close()">close</mat-icon>
</div>

<form [formGroup]="pinsForm">
  <mat-form-field class="w-100">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" placeholder="Title">
    <mat-error
      *ngIf="pinsForm?.get('title')?.errors?.required && pinsForm?.get('title')?.touched">
      Please enter title</mat-error>
  </mat-form-field>
  <div class="my-2">
    <mat-label class="mr-3">Image</mat-label>
    <div ng2FileDrop
      (onFileDrop)="onFileSelected($event)"
      class="dropFileArea"
      (click)="selectFile.click()">
      Choose & Drag and Drop file here
    </div>
    <span>{{this.pinsForm.get('image')?.value}}</span>
    <input ng2FileSelect hidden (onFileSelected)="onFileSelected($event)"
      type="file" #selectFile>
  </div>
  <mat-error
    *ngIf="pinsForm?.get('image')?.errors?.required && pinsForm?.get('image')?.touched">Please
    upload image</mat-error>
  <div class="my-3">
    <mat-label>Select Collaboratory</mat-label>
    <ngx-select
      formControlName="collaboratory"
      [allowClear]="false"
      [items]="customers"
      [multiple]="true"
      optionValueField="title"
      optionTextField="title"
      placeholder="Select Collaboratory">
    </ngx-select>
    <mat-error
      *ngIf="pinsForm?.get('collaboratory')?.errors?.required && pinsForm?.get('collaboratory')?.touched">
      Please select collaboratory </mat-error>
  </div>

  <div class="my-3">
    <label class="radioLabel" >Privacy *</label>
    <mat-radio-group aria-label="Privacy" formControlName="privacy" class="radio_group">
    <mat-radio-button value="private" class="mx-1" color="primary">Private</mat-radio-button>
      <mat-radio-button value="public" color="primary">Public</mat-radio-button>
      <mat-error
      *ngIf="pinsForm?.get('privacy')?.errors?.required && pinsForm?.get('privacy')?.touched">Please
      select privacy</mat-error>
    </mat-radio-group>
  </div>

  <div class="d-flex justify-content-center my-2">
    <button type="button" class="btn btn-primary" (click)="addPin()">Create
      Pin</button>
  </div>
</form>